.title{
    color: tomato;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 40px;
    border-bottom: gray 1px solid;
}

.notice{
    margin-left: 100px;
    height: 360px;
}
.spaceWork{
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
}
.textlink{
    font-size: 20px;
    color: #2f2f2f;
    font-family: "Nunito Sans";
    text-decoration: none;
}
.spaceVideo{
    margin-top: 40px;
    margin:22px 21px;
}