.menuBody{
    background-color: #b70f0a;
    width: 84%;
    height: 75px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -50px;
    position: sticky;
}
.menuOption{
    width: 215px;
    text-align: center;
    margin-top: 20px;
}
.borderRight{
    border-right: white 3px solid; 
}
.textMenu{
    font-size: 25px;
    color: white;
    font-family: "Nunito Sans";
    text-decoration: none;
}