.containerFooter{
    min-height: 100px;
    min-width: 100%;
    margin:0;
    background-color: #b70f0a;
}
.titleFooter{
    font-family: "Nunito Sans";
    color: white;
    font-size: 24px;
}

.linkFooter{
    font-size: 18px;
    font-family: "Nunito Sans";
    color: black;
    text-decoration: none;
    margin-bottom: 10px;

}
.list{
    list-style-type: circle;
    margin-top: 5px;
}